{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
  <h1 class="text-center my-3">상세 페이지</h1><hr>
  <div class="my-3">
    내용: {{ article.title }}<br>
    메모 : {{ article.content }}<br>
    수입 : {{ article.incoming }}<br>
    지출 : {{ article.spending }}<br>
    작성시간 : {{ article.updated_at }}<br>
  </div>
  <div class="d-grid gap-2 my-3">
    <a class="btn btn-primary" type="button" href="{% url 'articles:update' article.pk %}">수정</a>
    <a class="btn btn-danger" type="button" href="{% url 'articles:delete' article.pk %}">삭제</a>
  </div>
  <a href="{% url 'articles:index' %}">목록으로</a>
</div>

{% endblock content %}