{% extends 'base.html' %}
{% block content %}

<div class="container my-5">

  <h1>인덱스페이지</h1>
  <a href="{% url 'articles:create' %}">글쓰기</a>
  <hr>
  <di class="row d-flex justify-content-center">
    <table class="table">
      <thead class="table-info">
        <tr>
          <th scope="col">pk</th>
          <th scope="col">내용</th>
          <th scope="col">수입</th>
          <th scope="col">지출</th>
        </tr>
      </thead>
      {% for article in articles %}
      <tbody>
        <tr>
          <th scope="row">{{ article.pk }}</th>
          <td>{{ article.title }}</td>
          <td>{{ article.incoming }}</td>
          <td>{{ article.spending }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

</div>

{% endblock content %}